{% extends 'base.html.twig' %}

{% block title %}
{{ sortie.nom }}
{% endblock %}

{% block body %}
<p>Nom de la sortie : {{ sortie.nom }}</p>
<p>Organisateur : <a href="{{ url('user_afficher', {'user': sortie.organisateur}) }}">{{ sortie.organisateur.pseudo }}</a></p>
<p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</p>
<p>Date limite d'inscription : {{ sortie.dateLimiteInscription | date('d/m/Y H:i')}}</p>
{% if sortie.nbInscriptionsMax is not null%}
    <p>Nombres de places libres / maximum: {{ sortie.getNbInscrits() }} / {{ sortie.nbInscriptionsMax }}</p>
{% endif %}
<p>Durée : {{ sortie.duree | date('H:i:s') }}</p>
<p>Description et infos : {{ sortie.infosSortie }}</p>
<p>Campus : {{ sortie.siteOrganisateur.nom }}</p>
<p>Lieu : {{ sortie.lieu.nom }}</p>
<p>Rue : {{ sortie.lieu.rue }}</p>
<p>Code Postal : {{ sortie.lieu.ville.codePostal }}</p>
{% if sortie.lieu.latitude is not null and sortie.lieu.longitude is not null%}
    <p>Latitude : {{ sortie.lieu.latitude }}</p>
    <p>Longitude : {{ sortie.lieu.longitude }}</p>
{% endif %}

    {% if app.user is same as sortie.organisateur %}
        {% if sortie.etat.libelle is same as 'Créée' %}
            <a href="{{ url('sortie_modif', {'sortie': sortie.id}) }}">Modifier</a>
            <a href="{{ url('sortie_publier', {'sortie': sortie.id}) }}">Publier</a>
        {% endif %}
        {% if sortie.etat.libelle is same as 'Ouverte' or sortie.etat.libelle is same as 'Clôturée'%}
            <a href="{{ url('sortie_annuler', {'sortie': sortie.id}) }}">Annuler</a>
        {% endif %}
    {% endif %}
    <br>
{% if app.user not in sortie.users and sortie.etat.libelle is same as 'Ouverte' and (sortie.nbInscriptionsMax is not null and sortie.getNbInscrits() < sortie.nbInscriptionsMax) %}
    <a href="{{ path('user_inscrire', {'sortie': sortie.id}) }}">S'inscrire à la sortie</a>
{% endif %}
{% if app.user in sortie.users and (sortie.etat.libelle is same as 'Ouverte' or sortie.etat.libelle is same as 'Clôturée')%}
  <a href="{{ path('user_desister', {'sortie': sortie.id}) }}">Se désister de la sortie</a>
{% endif %}
<p>Liste des participants : </p>
<table>
    <tr>
        <td>Pseudo</td>
        <td>Nom</td>
    </tr>
    {% for participant in sortie.users %}
        <tr>
            <td>{{ participant.pseudo }}</td>
            <td><a href="{{ path("user_afficher", {"user" : app.user.id}) }}">{{ participant.nom }} {{ participant.prenom }}</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}



