{% extends 'base.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}
{% block body %}


    <div class="jumbotton">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    <p>Campus : {{ form_row(form.campus) }}</p>
                    <p>Le nom de la sortie : {{ form_row(form.nom) }}</p>
                    <p>Entre {{ form_row(form.dateDebut) }} et {{ form_row(form.dateLimite) }}</p>
                </div>
                <div class="col">
                    {{ form_row(form.sortieOrganisateur) }}
                    {{ form_row(form.sortieInscrit) }}
                    {{ form_row(form.sortieNonInscrit) }}
                    {{ form_row(form.sortiePassee) }}
                </div>
                <div class="col">
                    <button class="btn btn-primary">Recherche</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>















    <table>
        <tr>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Clôture</td>
            <td>inscrit/places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisteur</td>
            <td>Actions</td>
        </tr>
    {% for sortie in listeSortie %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
            <td>{{ sortie.dateLimiteInscription | date('d/m/Y H:i')}}</td>
            <td> {{ sortie.getNbInscrits() }} {% if sortie.nbInscriptionsMax is not null%} /
                {{ sortie.nbInscriptionsMax }} {% endif %}</td>
            <td>{{ sortie.etat.libelle }}</td>
            <td>{% if app.user.sorties.contains(sortie) %}
                    X
                {% endif %}N</td>
            <td>{{ sortie.organisateur.pseudo }}</td>
            <td><a href="{{ url('sortie_detail', {'sortie' : sortie.id}) }}">Afficher</a></td>
{#            <td>*Ajouter des actionzs contextuelles (incription/description/affichage/...)*</td>#}
        </tr>
    {% endfor %}
    </table>
{% endblock %}



