{% extends 'base.html.twig' %}
{% block title %}
    Liste des sorties
{% endblock %}
{% block body %}


    <div class="jumbotton">
        <div class="container">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col-1">
                    {{ form_row(form.campus) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.dateDebut) }}
                    {{ form_row(form.dateLimite) }}
                </div>
                <div class="col-2">
                    {{ form_row(form.sortieOrganisateur) }}
                    {{ form_row(form.sortieInscrit) }}
                    {{ form_row(form.sortieNonInscrit) }}
                    {{ form_row(form.sortiePassee) }}
                </div>
                <div class="col-3">
                    <button class="btn btn-primary">Recherche</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrit/places</th>
            <th>Etat</th>
            {% if is_granted('ROLE_USER_ACTIF') %}
                <th>Inscrit</th>
            {% endif %}
            <th>Organisteur</th>
            {% if is_granted('ROLE_USER_ACTIF') %}
                <th>Actions</th>
            {% endif %}
        </tr>
    {% for sortie in listeSortie %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
            <td>{{ sortie.dateLimiteInscription | date('d/m/Y H:i')}}</td>
            <td> {{ sortie.getNbInscrits() }} {% if sortie.nbInscriptionsMax is not null%} /
                {{ sortie.nbInscriptionsMax }} {% endif %}</td>
            <td>{{ sortie.etat.libelle }}</td>
            {% if is_granted('ROLE_USER_ACTIF') %}
                <td>
                    {% if sortie.users.contains(app.user) %}
                        X
                    {% endif %}
                </td>
            {% endif %}
            <td>
                {% if not is_granted('ROLE_USER_ACTIF') %}
                    {{ sortie.organisateur.pseudo }}
                {% endif %}
                {% if is_granted('ROLE_USER_ACTIF') %}
                    <a href="{{ path("user_afficher", {"participant" : sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                {% endif %}
            </td>
            {% if is_granted('ROLE_USER_ACTIF') %}
                <td><a href="{{ url('sortie_detail', {'sortie' : sortie.id}) }}">Afficher</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}



