<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon'~random(9)~'.png') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav>
            {% if not app.user %}
                <a href="{{ url('app_login') }}">Connexion</a>
                <a href="{{ url('app_register') }}">Créer un compte</a>
            {% endif %}
            {% if app.user %}
                <a href="{{ url('app_logout') }}">Deconnexion</a>
                <a href="{{ url('user_modifier') }}">Modifier mon compte compte</a>
                <a href="{{ path("user_afficher", {"user" : app.user.id}) }}">Mon compte</a>
                <a href="{{ url('sortie_liste') }}">Liste des sorties</a>
                {% if is_granted('ROLE_USER_ACTIF') %}
                    <a href="{{ url('sortie_ajout') }}">Ajouter une Sortie</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('admin') }}">Gestion</a>
                {% endif %}
            {% endif %}
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
    <footer>
        ©ENI
        HONORAT OLLIVIER
        {{ 'now' | date('Y') }}
    </footer>
</html>
