{% extends 'base.html.twig' %}

{% block title %}Afficher profil{% endblock %}
{% block body %}
    <img src="{{ asset('uploads/' ~ user.avatar ) }}" alt="Avatar"/>
    <h1>{{ user.pseudo }}</h1>
        <p>Prénom : {{ user.prenom }}</p>
        <p>Nom : {{ user.nom }}</p>
        <p>Téléphone : {{ user.telephone }}</p>
        <p>Email : {{ user.email }}</p>
        {% if user.campus is not null %}
            <p>Campus : {{ user.campus.nom }}</p>
        {% endif %}
    <a href="{{ url('user_modifier') }}">Modifier mon compte</a>

{% endblock %}



