{% extends 'base.html.twig' %}

{% block title %}Afficher profil{% endblock %}
{% block body %}

    <img src="{{ asset('uploads/' ~ participant.avatar ) }}" alt=""/>
    <h1>{{ participant.pseudo }}</h1>
    {% if not is_granted('ROLE_USER_ACTIF') %}
        <p style="color: red">Votre compte n'est pas actif !</p>
        <p style="color: red">Veuillez contacter l'administrateur à ada.lovelace@info.com</p>
    {% endif %}
        <p>Prénom : {{ participant.prenom }}</p>
        <p>Nom : {{ participant.nom }}</p>
        <p>Téléphone : {{ participant.telephone }}</p>
        <p>Email : {{ participant.email }}</p>
        {% if participant.campus is not null %}
            <p>Campus : {{ participant.campus.nom }}</p>
        {% endif %}
    <p><a href="{{ url('user_modifier') }}">Modifier</a></p>
{% endblock %}



